<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="api/clientid" value="[client_id]"></add>
    <add key="api/username" value="[username]"></add>
    <add key="api/password" value="[password]"></add>
    <add key="api/address" value="https://rest.trackmatic.co.za/api/v1"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
